{{define "actions"}}
<div class="actions">
    {{if .ActionForm}}
    <label>
        {{.ActionForm.Label}}
        {{.ActionForm.Select}}
    </label>
    <button type="submit" class="button" name="index" value="{{.ActionIndex}}">Run</button>
    {{end}}
    
    {{if .ActionsSelectionCounter}}
    <span class="action-counter" data-actions-icnt="{{.TotalCount}}">{{.SelectionNote}}</span>
    {{if ne .TotalCount .ResultCount}}
    <span class="all hidden">{{.SelectionNoteAll}}</span>
    <span class="question hidden">
        <a role="button" href="#" onclick="document.querySelector('input[name=select-across]').value = '1'; return false;">
            Select all {{.TotalCount}} {{.ModuleName}}
        </a>
    </span>
    <span class="clear hidden">
        <a role="button" href="#" onclick="document.getElementById('action-toggle').checked = false; document.querySelector('input[name=select-across]').value = '0'; return false;">
            Clear selection
        </a>
    </span>
    {{end}}
    {{end}}
</div>
{{end}}

