{{define "fieldset"}}
<fieldset class="module aligned{{if .Classes}} {{.Classes}}{{end}}"{{if .Name}} aria-labelledby="fieldset-{{.ID}}-heading"{{end}}>
    {{if .Name}}
    {{if .IsCollapsible}}<details{{if not .Collapsed}} open{{end}}><summary>{{end}}
    <h2 id="fieldset-{{.ID}}-heading" class="fieldset-heading">{{.Name}}</h2>
    {{if .IsCollapsible}}</summary>{{end}}
    {{end}}
    {{if .Description}}
    <div class="description">{{.Description}}</div>
    {{end}}
    {{range .Fields}}
    <div class="form-row{{if .Errors}} errors{{end}}{{if not .IsVisible}} hidden{{end}}">
        {{if .IsCheckbox}}
        <div class="checkbox-row">
            {{.Field}}
            <label for="{{.ID}}">{{.Label}}{{if .Required}}<span class="required">*</span>{{end}}</label>
        </div>
        {{else}}
        <label for="{{.ID}}">{{.Label}}{{if .Required}}<span class="required">*</span>{{end}}</label>
        <div class="fieldBox">
            {{if .IsReadonly}}
            <div class="readonly">{{.Contents}}</div>
            {{else}}
            {{.Field}}
            {{end}}
        </div>
        {{end}}
        {{if .HelpText}}
        <div class="help"{{if .ID}} id="{{.ID}}_helptext"{{end}}>
            <p>{{.HelpText}}</p>
        </div>
        {{end}}
        {{if .Errors}}
        <ul class="errorlist">
            {{range .Errors}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{end}}
    </div>
    {{end}}
    {{if and .Name .IsCollapsible}}</details>{{end}}
</fieldset>
{{end}}

