{{define "form"}}
{{template "base" .}}
{{end}}

{{define "extrastyle"}}
<link rel="stylesheet" href="/admin/static/css/forms.css">
{{end}}

{{define "extrahead"}}
<script src="/admin/static/js/core.js"></script>
<script src="/admin/static/js/change_form.js" defer></script>
<script id="forge-admin-form-add-constants" data-model-name="{{.Model.Name}}" async></script>
{{end}}

{{define "bodyclass"}}app-{{.Model.Name}} change-form{{end}}

{{define "content"}}
<div id="content-main">
    {{block "object-tools" .}}
    {{if and (not .IsCreate) .CanChange}}
    <ul class="object-tools">
        <li>
            <a href="{{.BaseURL}}">View on site</a>
        </li>
        {{if .CanDelete}}
        <li>
            <a href="{{.BaseURL}}{{.Instance.ID}}/delete/" class="deletelink">Delete</a>
        </li>
        {{end}}
    </ul>
    {{end}}
    {{end}}
    
    <form method="POST" action="{{.BaseURL}}{{if .IsCreate}}new/{{else}}{{.Instance.ID}}/change/{{end}}" id="{{.Model.Name}}_form" novalidate>
        {{if .SaveOnTop}}
        {{block "submit_buttons_top" .}}
        {{template "submit_line" .SubmitButtons}}
        {{end}}
        {{end}}
        
        {{if .Errors._error}}
        <p class="errornote">
            {{.Errors._error}}
        </p>
        {{end}}
        
        {{block "field_sets" .}}
        {{if .Fieldsets}}
        {{range $index, $fieldset := .Fieldsets}}
        {{template "fieldset" $fieldset}}
        {{end}}
        {{else}}
        {{/* Fallback: render fields without fieldsets */}}
        <fieldset class="module aligned">
            {{range .Fields}}
            <div class="form-row{{if .Errors}} errors{{end}}">
                <label for="{{.Name}}">
                    {{.Label}}{{if .Required}}<span class="required">*</span>{{end}}
                </label>
                <div class="fieldBox">
                    {{if eq .Type "textarea"}}
                    <textarea name="{{.Name}}" id="{{.Name}}"{{if .Required}} required{{end}}{{if .ReadOnly}} readonly{{end}}>{{.Value}}</textarea>
                    {{else if eq .Type "select"}}
                    <select name="{{.Name}}" id="{{.Name}}"{{if .Required}} required{{end}}{{if .ReadOnly}} disabled{{end}}>
                        <option value="">---</option>
                        {{range .Choices}}
                        <option value="{{.Value}}"{{if eq $.Value .Value}} selected{{end}}>{{.Label}}</option>
                        {{end}}
                    </select>
                    {{else if eq .Type "checkbox"}}
                    <div class="checkbox-row">
                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}"{{if .Value}} checked{{end}}{{if .ReadOnly}} disabled{{end}}>
                        <label for="{{.Name}}">{{.Label}}</label>
                    </div>
                    {{else}}
                    <input type="{{.Type}}" name="{{.Name}}" id="{{.Name}}" value="{{.Value}}"{{if .Required}} required{{end}}{{if .ReadOnly}} readonly{{end}}>
                    {{end}}
                </div>
                {{if .HelpText}}
                <div class="help" id="{{.Name}}_helptext">
                    <p>{{.HelpText}}</p>
                </div>
                {{end}}
                {{if .Errors}}
                <ul class="errorlist">
                    {{range .Errors}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
                {{end}}
            </div>
            {{end}}
        </fieldset>
        {{end}}
        {{end}}
        
        {{block "after_field_sets" .}}{{end}}
        
        {{block "inline_field_sets" .}}{{end}}
        
        {{block "after_related_objects" .}}{{end}}
        
        {{block "submit_buttons_bottom" .}}
        {{template "submit_line" .SubmitButtons}}
        {{end}}
    </form>
</div>
{{end}}
