{{define "pagination"}}
<nav class="paginator" aria-labelledby="pagination">
    <h2 id="pagination" class="visually-hidden" style="display: none;">Pagination {{.ModelNamePlural}}</h2>
    {{if .PaginationRequired}}
    <ul>
        {{range .PageRange}}
        <li>
            {{if eq . $.CurrentPage}}
            <span class="this-page">{{.}}</span>
            {{else}}
            <a href="{{$.BaseURL}}?page={{.}}{{if $.SearchQuery}}&search={{$.SearchQuery}}{{end}}">{{.}}</a>
            {{end}}
        </li>
        {{end}}
    </ul>
    {{end}}
    <span>
        {{.ResultCount}} {{if eq .ResultCount 1}}{{.ModelName}}{{else}}{{.ModelNamePlural}}{{end}}
    </span>
    {{if .ShowAllURL}}
    <a href="{{.ShowAllURL}}" class="showall">Show all</a>
    {{end}}
</nav>
{{end}}

