{{define "submit_line"}}
<div class="submit-row">
    {{if .ShowSave}}
    <input type="submit" value="Save" class="default" name="_save">
    {{end}}
    {{if .ShowSaveAsNew}}
    <input type="submit" value="Save as new" name="_saveasnew">
    {{end}}
    {{if .ShowSaveAndAddAnother}}
    <input type="submit" value="Save and add another" name="_addanother">
    {{end}}
    {{if .ShowSaveAndContinue}}
    <input type="submit" value="{{if .CanChange}}Save and continue editing{{else}}Save and view{{end}}" name="_continue">
    {{end}}
    {{if .ShowClose}}
    <a role="button" href="{{.ChangelistURL}}" class="closelink">Close</a>
    {{end}}
    {{if and .ShowDeleteLink .Original}}
    <a role="button" href="{{.DeleteURL}}" class="deletelink">Delete</a>
    {{end}}
</div>
{{end}}

